<%- include('header') -%>

<h2 class="articles-title"><%= __('Ads List') %></h2>
<!-- Ads Container -->
<div class="container">
  <% if (rows.length !==0) { %> <%- include('adsList', { rows }) %> <% } else
  { %>
  <h5 class="no-data">
    <%= __('No ads were found with the entered parameters') %>
  </h5>
  <% } %>
</div>
<!-- Ads Container END -->

<%- include('footer') -%>
