<%- include('header') -%>

<h1 class="form-signin-title"><%= __('Login') %></h1>

<form class="form-signin" method="post" action="login" novalidate>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"
      ><%= __('Email') %></label
    >
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      name="email"
      value="<% if(locals.data.values.email) { %><%= locals.data.values.email %> <% } %>"
    />
  </div>

  <% if (locals.data.errors.email && locals.data.errors.email.message !== '') { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= __(locals.data.errors.email.message) %>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <% } %>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"
      ><%= __('Password') %></label
    >
    <input
      name="password"
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      value="<% if(locals.data.values.password) { %><%= locals.data.values.password %> <% } %>"
    />
  </div>
  <% if (locals.data.errors.password && locals.data.errors.password.message !== '') { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= __(locals.data.errors.password.message) %>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <% } %>
  <button type="submit" class="btn btn-primary"><%= __('Submit') %></button>
</form>


<%- include('footer') -%>
